*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.topnav
{
    background-color: #000000;
    color: #ffffff
}
.topnav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;  
    padding: 14px 16px;
    display: block;
    float: left;
}

.topnav a:hover {
    background-color: #ffffff;
    color: #000000;
}

.header{
    background: linear-gradient(rgb(0,0,0,0.8), rgb(234,234,234,0.8)), url(https://images-prod.healthline.com/hlcmsresource/images/AN_images/healthy-eating-ingredients-1296x728-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
    font-size: 70px;
    text-align: center;
    padding: 20px;
}

@keyframes headeranim {
    0%      {color: #ffffff;}
    50%     {color: #FFD700;}
    100%    {color: #ffffff;}
  }

.header h1{
    text-transform: uppercase;
    padding: 10%;
    color: #ffffff;
    animation-name: headeranim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.row::after
{
    content:"";
    display: table;
    clear: both;
}

.column
{
    float:left;
    width: 50%;
}

#about
{
    padding: 10%;
}

#about h1{
    font-family: Arial;
    font-size: 45px;
    margin: 2px;
}
#about h3
{
    font-size: 30px;
    margin: 2px;
}

#about p
{
    font-size: 25px;
    margin: 2px;
}

#about img
{
    width: 90%;
    height: 500px;
}

#menu
{
    padding: 10%;
}

#menu h1{
    font-family: Arial;
    font-size: 45px;
    margin-bottom: 10px;
}
#menu h5
{
    font-size: 22px;
    margin-top: 5%;
}

#menu p
{
    font-size: 18px;
    margin-top: 2.5%;
}

#menu img
{
    width: 90%;
    height: 500px;
    margin-left: 1%;
}

#contact
{
    padding: 10%;
}

#contact h1{
    font-family: Arial;
    font-size: 45px;
    margin: 2px;
}
#contact h3
{
    font-size: 30px;
    margin: 2px;
}

#contact p
{
    font-size: 25px;
    margin: 2px;
}

input[type="text"],input[type="tel"],input[type="email"]
{
    width:100%;
    height:20px;
    font-size: 20px;
    margin: 1%;
}

input[type="submit"]
{
    margin: 1%;
    font-size: 20px;
}

.indicator
{
    background-color: #dc143c;
    color: #ffffff;
    padding: 1.8%;
    border-radius: 20px;
    font-family: 'Monotype Corsiva';
}

.indicator1
{
    background-color: #FFD700;
    color: #000000;
    padding: 1.8%;
    border-radius: 20px;
    font-family: 'Monotype Corsiva';
    font-size: 22px;
    font-weight: bold;
    margin-left: 1.6%;
}